.1{
    border-radius: 100px;
  height: 250px;
    width: 250px;
    }

a{
    font-size: bold;
    font-family: cursive;
    }
3{
     width="1349" 
    height="856"
}
4{
     width="1349"  
    height="856"
}

span{
    font-weight: bold;
    font-size: 20px;
}
img{
    height: 250px;
    width: 250px;e
}